*{
    margin: 0;
    padding: 0;
}

/* title bar */
.panel {
    height: 70px;
    background-color: #94eba7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.opn {
    width: 85%;
    font-size: 20px;
    font-weight: 550;
}

.opn a {
    margin: 13px;
    text-decoration: none;
}

.opn li {
    display: inline-block;
    position: relative;
}

li ul.dropdwn1 li {
    display: block;
}

.clickpe:hover {
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s;
}

li ul.dropdwn1 {
    margin-top: 3px;
    width: 200px;
    background-color: #ddb565;
    color: black;
    position: absolute;
    z-index: 999;
    display: none;
    cursor: pointer;

}

li ul.dropdwn1:hover {
    color: #c65a01;
    cursor: pointer;
    transition: all 0.3s;
}

li ul a:hover {
    background: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

li:hover ul.dropdwn1 {
    display: block;
}

a{
    color: black;
}
a:visited{
    color: black;
}

/* search bar section */
/* search box */
input {
    height: 35px;
    margin-right: -19px;
    width: 263px;
    padding: 1px;
    padding-left: 5px;
    border-radius: 14px;
    border: 3px solid rgb(105, 105, 105);
    /* display: flex; */
    
}

.search-icon {
    width: 81px;
    font-size: 21px;
    color: #2b2f2f;
    
    /* align-items: center; 
    display: flex; 
    justify-content: center; 
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; */
}
/* search bar section ends here */

/* title bar ends here */

/* about topic name */
.navdiv {
background-color: #dfd0a0;
display: flex;
align-items: flex-end;
padding: 0%;
height: 100px;
justify-content: center;
align-items: center;
}

.aboutnav {
height: 80px;
width: 100%;
background-color: wheat;
text-align: center;
justify-self: center;
align-items: center;
margin-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    /* font-size: 35px; */
    text-align: center;
    margin-top: 14px;
    /* padding: 3px */
/* padding: 20px; */
}
/* topic name code ends here */

main{
    background-image: url('sample1.jpg');
}

/* the overall box */
.block1 {
    height: 16rem;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 23px;
    margin-top: 20px;
    display: flex;
    /* background-color: rgb(240, 238, 240); */
    background-color: #fff;
    transition: 1s;
    border-radius: 15px;
    /* box-shadow: 0 5px 15px 0 #a29ae8df, 0px 5px 15px 0 #a29ae8df ; */
    border-top: 2px solid #eeeeee;
    /* border: 2px solid blue; */
    box-shadow: 12px 6px 10px rgb(77, 74, 74);
}

.block1:hover {
    transform: scale(1.2);
    cursor: pointer;
    border: 3px solid blue;
    margin-bottom: 27px;
    box-shadow: 23px 8px 22px  rgba(80, 69, 69, 0.54);
    /* box-shadow: 23px 8px 22px 0px rgba(80, 69, 69, 0.54); */
}
/* box code ends here  */

/* view more */
button{
    font-size: 17px;
    margin-left: 173px;
    margin-bottom: -10px;
    /* margin-top: 12px; */
    display: block;
    width: 105px;
    height: 40px;
    border: 3px solid chocolate;
    border-radius: 15px;
}

/* title of all boxes */
.names{
     /* margin: 14px; */
    font-size: 22px;
    font-weight: 500;
    /* margin-left: 15px; */
    margin-bottom: 14px;
    /* display: block; */
    text-decoration: underline;
    text-transform: uppercase;
}

/* para  */
p{
    /* padding: 6px; */
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

/* pic code */
.img1 {
    width: 355px; 
    border-radius: 10px;
    margin: 12px;
    display: flex; 
}

.img2{
    width: 320px;
    border-radius: 10px;
    margin: 12px;
}